.box{
    height:40px;
    width:40px;
    background-color: rgb(205, 205, 205);
    box-sizing: border-box;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display:flex;
    flex-wrap: nowrap;
}