.box{
    background-color: rgb(205, 205, 205);
    box-sizing: border-box;
}

.container{
    height:640px;
    width:640px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid black;
}

.row{
    display:flex;
    flex-wrap: nowrap;
}